{% extends 'app/base.html' %}

{% block title %}
Buyer page
{% endblock %}

{% block links %}
{% endblock %}

{% block content %}
<div class="container">
    <h5>Avaliable products</h5>
    <table border="1" width="500" height="15" align="left" cellpadding="2">
        <tr align="center">
            <td>Product</td>
            <td>vendor code</td>
            <td>price</td>
            <td>provider</td>
            <td>Picture</td>
        </tr>
        {% for i in available_product %}
        <tr align="center">
            {% for p in prod_table %}
                {% if p == i.product %}
                    <td>{{ p.name }}</td>
                    <td>{{ i.product }}</td>
                {% endif %}
            {% endfor %}
            <td>{{ i.product_price }}</td>
            <td>{{ i.supplier }}</td>
            {% for img in img_table %}
                {% if img.product == i.product %}
                <td><img src="{{img.image_path.url}}" width="50"></td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
