{% extends 'app/base.html' %}

{% block title %}
Buyer page
{% endblock %}

{% block links %}
{% endblock %}

{% block content %}
<div class="container">
    <h5>Avaliable products</h5>
    <table border="1" width="500" height="15" align="left" cellpadding="2">
        <tr align="center">
            <td>product</td>
            <td>vendor code</td>
            <td>price</td>
            <td>provider</td>
            <td>picture</td>
        </tr>
        {% for i in available_product %}
        <tr align="center">
            <td>{{ i.product__name }}</td>
            <td>{{ i.product__product }}</td>
            <td>{{ i.product_price }}</td>
            <td>{{ i.supplier__name }}</td>
            {% if i.product__main_image == None %}
                <td>no image</td>
            {% else %}
                {% load static %}
                {% get_media_prefix as MEDIA_PREFIX %}
                <td><img src = "{{ MEDIA_PREFIX }}{{ i.product__main_image }}" width = "50"></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
