{% extends 'app/base.html' %}

{% block title %}
Provider`s page
{% endblock %}

{% block links %}
    <a class="p-2 text-dark" href="/suppliers">Suppliers</a>
{% endblock %}

{% block content %}
<div class="container">
    <h5>My products</h5>
    <table border="1" width="500" height="15" align="left" cellpadding="2">
        <tr align="center">
            <td>Product name</td>
            <td>Vendor code</td>
            <td>Price</td>
            <td>Availability</td>
            <td>Picture</td>
        </tr>
        {% for i in my_products %}
        <tr align="center">
            {% for p in products %}
                {% if p == i.vendor_code %}
                    <td>{{ p.name }}</td>
                {% endif %}
            {% endfor %}
            <td>{{ i.vendor_code }}</td>
            <td>{{ i.product_price }}</td>
            <td>{{ i.availability }}</td>
            <td>no_pict</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}