{% extends 'app/base.html' %}

{% block title %}
Provider`s page
{% endblock %}

{% block links %}
    <a class="p-2 text-dark" href="/suppliers">Cheaper products</a>
{% endblock %}

{% block content %}
<div class="container">
    <h5>My products</h5>
    <table border="1" width="500" height="15" align="left" cellpadding="2">
        <tr align="center">
            <td>Product name</td>
            <td>Vendor code</td>
            <td>Price</td>
            <td>In stock</td>
            <td>Picture</td>
        </tr>
        {% for i in my_products %}
        <tr align="center">
            {% for p in products %}
                {% if p == i.product %}
                    <td>{{ p.name }}</td>
                {% endif %}
            {% endfor %}
            <td>{{ i.product }}</td>
            <td>{{ i.product_price }}</td>
            {% if i.availability %}
                <td>yes</td>
            {% else %}
                <td>no</td>
            {% endif %}
            {% for img in img_table %}
                {% if img.product == i.product %}
                    {% if img.image_path == 'no_image_available-1.png' %}
                        <td>no</td>
                    {% else %}
                        <td>yes</td>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}