{% extends 'app/base.html' %}

{% block title %}
Provider`s page
{% endblock %}

{% block links %}
    <a class="p-2 text-dark" href="/my_product">My product</a>
{% endblock %}

{% block content %}
<div class="container">
    <h5>Cheaper products of competitors</h5>
    <table border="1" width="500" height="15" align="left" cellpadding="2">
        <tr align="center">
            <td>Product name</td>
            <td>Vendor code</td>
            <td>Price</td>
            <td>Supplier</td>
        </tr>
        {% for i in cheaper_products %}
        <tr align="center">
            <td>{{ i.name }}</td>
            <td>{{ i.vendor_id }}</td>
            <td>{{ i.price }}</td>
            <td>{{ i.supplier__name }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}